<select [value]="lang$ | async" (change)="changeLang($event)">
    <option value="es">ES</option>
    <option value="en">EN</option>
    <option value="fr">FR</option>
</select>
<select [value]="units$ | async" (change)="changeUnits($event)">
    <option value="metric">Celsius</option>
    <option value="imperial">Fahrenheit</option>
    <option value="standard">Kelvin</option>
</select>
<select [value]="city$ | async" (change)="changeCity($event)">
    <option value="">Pick a city</option>
    <option value="le-vesinet">Le Vesinet</option>
    <option value="bergen">Bergen</option>
    <option value="reykjavik">Reykjavik</option>
    <option value="madrid">Madrid</option>
</select>
<button (click)="fetch()" [disabled]="!(city$ | async)">Fetch</button>

<div>
    <i *ngIf="loading$ | async; else loaded">Loading...</i>

    <ng-template #loaded>
        <app-weather-display [weather]="weather$ | async"></app-weather-display>

        <p *ngIf="error$ | async">{{ (error$ | async)?.message }}</p>
    </ng-template>
</div>
